<header>
    <div class="wrapper">
    <div class="header_container">
        <div class="burger_menu" id="burger_menu">
            <span></span>
        </div>

        <div class="header_logo">
        <a class="navbar-brand" href="index.html">
            <img src="@img/residentlogo.svg" alt="menulogo">
        </a>
        <p class="header_logo_text">Центр по трудоустройству в Европе</p>
        </div>

        <nav class="header_menu">
            <ul class="menu_list">
                <li class="menu_item">
                    <a href="#" class="menu_link">Список стран</a>
                </li>
                <li class="menu_item">
                    <a href="#" class="menu_link">Преимущества</a>
                </li>
                <li class="menu_item">
                    <a href="#" class="menu_link">Этапы работ</a>
                </li>
                <li class="menu_item">
                    <a href="#" class="menu_link">Частые вопросы</a>
                </li>
                <li class="menu_item">
                    <a href="#" class="menu_link">Отзывы</a>
                </li>
                <li class="menu_item">
                    <a href="#" class="menu_link">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="header_contacts">
            <div class="menu_link_contact">
                <a href="#">+7 707 854 70 45</a>
                <a href="#" style="text-decoration: underline;"><img src="@img/whatsapplogo.svg" alt="">Написать в WhatsApp</a>
            </div>
        </div>

    </div>
    </div>
</header>
