<section class="company__advantage">
    <h1 class="advantage__title">Преимущества компании</h1>
    <div class="advantage__container _container">
        <div class="inform__card">
            <div class="card__pic">
                <img src="@img/customer-service.png" alt="">
            </div>
            <p>Всегда на связи с клиентами, даже после отъезда</p>
        </div>

        <div class="inform__card">
            <div class="card__pic">
                <img src="@img/passport.png" alt="">
            </div>
            <p>Оформили более 3000 виз в чистые паспорта</p>
        </div>

        <div class="inform__card">
            <div class="card__pic">
                <img src="@img/credibility.png" alt="">
            </div>
            <p>Наши работодатели имеют хорошую репутацию в Посольствах стран Европы</p>
        </div>

        <div class="inform__card">
            <div class="card__pic">
                <img src="@img/process.png" alt="">
            </div>
            <p>Работаем с отказами и делаем апелляции</p>
        </div>
    </div>
</section>