<main class="main__banner">
    <div class="banner__container _container">
        <div class="banner__info">
            <h1 class="banner__title">Полное сопровождение оформления рабочей визы</h1>
            <p class="banner_desc">От подбора вакансии и получения приглашения от работодателя - до подачи документов на вид на жительство в ЕС</p>

            <div class="banner__buttons">
                <div class="form-group">
                    <button class="select__button">Выберите страну</button>
                    <ul class="select__list">
                        <li class="select__list_item" data-value="country">Польша</li>
                        <li class="select__list_item" data-value="country">Чехия</li>
                        <li class="select__list_item" data-value="country">Литва</li>
                        <li class="select__list_item" data-value="country">Латвия</li>
                    </ul>
                    <input type="text" name="select__category" value="" class="list__input_hidden">
                </div>
                <button class="details__button btn-fill btn-primary">Узнать детали оформления</button>
            </div>

            <div class="banner__achievements">
                <div class="achievements_column">
                    <div></div>
                    <div class="row">
                        <h1>19</h1>
                        <p>лет на рынке услуг</p>
                    </div>
                </div>

                <div class="achievements_column">
                    <p>более</p>
                    <div class="row">
                        <h1>7000</h1>
                        <p>рабочих виз</p>
                    </div>
                </div>

                <div class="achievements_column">
                    <div><p>более</p></div>
                    <div class="row">
                        <h1>1200</h1>
                        <p>семей получили ВНЖ</p>
                    </div>
                </div>

                <div class="achievements_column">
                    <div></div>
                    <div class="row">
                        <h1>22</h1>
                        <p>офиса по всему миру</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>