<section class="client__jobs">
    <div class="jobs__container _container">
        <h1>Где работают наши клиенты</h1>
        <div class="swiper-container swp_jobs">
            <div class="swiper-wrapper jobs_wrapper">
                <div class="swiper-slide jobs_slide">
                    <div class="slide_img">
                        <img src="@img/lg.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide jobs_slide">
                    <div class="slide_img">
                        <img src="@img/ikea.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide jobs_slide">
                    <div class="slide_img">
                        <img src="@img/bosch.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide jobs_slide">
                    <div class="slide_img">
                        <img src="@img/philips.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide jobs_slide">
                    <div class="slide_img">
                        <img src="@img/shell.png" alt="">
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>