<footer>
    <div class="footer_content">
        <div class="footer_top">
            <div class="_container">
                <a href="" class="footer_logo">
                    <img src="@img/residentlogo.svg" alt="">
                    <p class="footer_link">Центр по трудоустройству в Европе</p>
                </a>  
                
                <a href="" class="footer_phone">
                    <img src="@img/phone.svg" alt="">
                    <p class="footer_link">+7 707 854 70 45</p>
                </a>

                <a href="" class="footer_location">
                    <picture>
                    <img src="@img/location.svg" alt="">
                    </picture>
                    <p class="footer_link">г. Караганда, БЦ POINT, пр-т Бухар-Жырау 75/3 Офис 501</p>
                </a>

                <div class="footer_socialmedia">
                    <div class="socialmedia_item">
                        <img src="@img/whatsapplogo.svg" alt="">
                        <a href="#" class="socialmedia_link" style="text-decoration: underline;">Написать в WhatsApp</a>
                    </div>
                    <div class="socialmedia_item">
                        <img src="@img/tik-tok.svg" alt="">
                        <a href="#" class="socialmedia_link">resident.imm</a>
                    </div>
                    <div class="socialmedia_item">
                        <img src="@img/instagram.svg" alt="">
                        <a href="#" class="socialmedia_link">resident_immigration</a>
                    </div>
                    <div class="socialmedia_item">
                        <img src="@img/email.svg" alt="">
                        <a href="#" class="socialmedia_link">rimmc@inbox.ru</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="footer_container _container">
                <div class="bottom_info">
                    <div class="bottom_left">
                        <p class="bottom_text">© 2022 Центр по трудоустройству в Европе  «RESIDENT-JOB».</p>
                        <p class="bottom_text">Все права защищены.</p>
                    </div>
                    <div class="bottom_middle">
                        <a href="#" class="bottom_link_text">Политика конфиденциальности</a>
                    </div>
                    <div class="bottom_right">
                        <p class="bottom_text">Разработано</p>
                        <a href="#">
                            <img src="@img/imarketinglogo.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>