<section class="popular__country">
    <div class="popular__container _container">
        <div class="popular_slider">
            <h1 class="popular_slider_title">Популярные страны</h1>
            <div class="swiper-arrows">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-container--swp_popular">
                <div class="swiper-wrapper popular_wrapper">
                    <div class="swiper-slide popular_slide">
                        <div class="popular_slider_box">
                            <div class="popular_slider_box_info">
                                <img src="@img/poland.png" alt="">
                                <h1>Польша</h1>
                                <a href="#">Узнать детали оформления</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide popular_slide">
                        <div class="popular_slider_box">
                            <div class="popular_slider_box_info">
                                <img src="@img/czech.png" alt="">
                                <h1>Чехия</h1>
                                <a href="#">Узнать детали оформления</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide popular_slide">
                        <div class="popular_slider_box">
                            <div class="popular_slider_box_info">
                                <img src="@img/litva.png" alt="">
                                <h1>Литва</h1>
                                <a href="#">Узнать детали оформления</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide popular_slide">
                        <div class="popular_slider_box">
                            <div class="popular_slider_box_info">
                                <img src="@img/latvia.png" alt="">
                                <h1>Латвия</h1>
                                <a href="#">Узнать детали оформления</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>