<section class="services">
    <div class="serivces__container _container">
        <div class="services__block__left">
            <h1></h1>
            <div class="services__list">
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Подбор вакансии</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Получение приглашения и контракта от европейского работодателя</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Подготовка всех документов</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Оплата консульского сбора</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Оплата и запись на сдачу биометрии</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Годовая страховка с покрытием COVID-19</p></div>
                <div class="list__desc"><img src="@img/check-square.svg" alt=""><p>Заполнение анкеты в Посольство</p></div>
            </div>
        </div>

        <div class="services__block__right">
            
        </div>
    </div>
</section>